<html>
    <head>
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                my_id = "{{customer_id}}";
                withdraw_money = "{{withdraw_money}}";
                get_cookie = "{{get_cookie}}";

                result_cookie = "1. Your cookie is: " + get_cookie;
                result_id = "2. Your ID is: " + my_id;
                result_money = "3. Withdraw amount: " + withdraw_money;
                
                $("#myID").val(my_id);
                $("#requestMoney").val(withdraw_money);
                $("#resultCookie").html(result_cookie);
                $("#resultID").html(result_id);
                $("#resultMoney").html(result_money);

                $("#sendForm").click(function(){
                    var customer_id = $("#myID").val();
                    var withdraw_money = $("#requestMoney").val();

                    if(withdraw_money == null || withdraw_money == ""){
                        alert("Enter the amount to withdraw");
                        return false;
                    }
                    else if(withdraw_money > 10000){
                        alert("Can't withdraw more than 1000 Won");
                        return false;
                    }
                    if(customer_id == null || customer_id == ""){
                        alert("Enter your ID");
                        return false;
                    }
                });

                $("#showMyMoney").click(function(){
                    $.ajax({
                        url: "/get_balance",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({"customer_id": get_cookie}),
                        contentType: "application/json;charset=UTF-8",
                        success: function(data){
                            $("#balance").html(data.balance);
                        }
                    });
                });
            });
        </script>
        <title>Client Code Example</title>
    </head>
    <body>
        <form id="getMoney" action="get_money" method="post">
            <fieldset>
                <legend>Client Code Example</legend>
                ID:
                <input type="text" id="myID" name="myID" size="10" maxlength="5"> &nbsp;
                WITHRAW AMOUNT:
                <input type="text" id="requestMoney" name="requestMoney", size="5">
                <input type="submit" name="button" id="sendForm" value="Withdraw">
                <br><br>
                <input type="button" id="showMyMoney" value="Show Balance">
                : <span id="balance"></span>
            </fieldset>
        </form>

        <h4>Result</h4>
        <hr>
        <div id="resultCookie"></div>
        <div id="resultID"></div>
        <div id="resultMoney"></div>
    </body>
</html>