<html>
    <head>
        <style>
            table, td, th {
                border: 1px solid black;
                text-align: center;
            }

            table {
                border-collapse: collapse;
            }
        </style>
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            var a = {{reflected_xss_string|safe}}
            $(document).ready(function(){
                reflected_xss_string = "{{reflected_xss_string|safe}}";
                $("#inputText").val(reflected_xss_string);
                $("#reflected_xss_string").html(reflected_xss_string);
            });

            function GetData(){
                var my_id = "tom"
                $.ajax({
                    url: '/get_data',
                    type: 'GET',
                    data: {id: my_id},

                    success: function(res){
                        $("#spanName").html(res);
                    }
                })
            }
        </script>
        <title>XSS</title>
    </head>
    <body>
        <form id="xssText" action="xss_ajax" method="get">
            <fieldset>
                <legend>XSS Example</legend>
                XSS Script
                <input type="text" id="inputText" name="inputText">
                <input type="submit" name="button" value="run">
            </fieldset>
        </form>
        <h4>Script Used</h4>
        <hr>
        [reflected_xss]
        <div id="reflected_xss_string"></div>
    </body>
</html>