<html>
    <head>
        <title>Secure Design</title>
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var token;

                $("[id^=checkSMS]").click(function(){
                    var sms_number = $("#SMSNumber").val();
                    $.ajax({
                        url: '/check_sms',
                        type: 'POST',
                        data: JSON.stringify({sms_number: sms_number}),
                        headers: {'Content-Type': 'application/json'},
                        success: function(response){
                            if(response.certify_yn == 'Y'){
                                $("#smsResult").css("background-color", 'c1d9d8');
                                $("#smsResult").html("Authentication complete");
                                $("#SMSNumber").attr("disabled", "disabled");
                                $("#checkData").attr("disabled", "disabled");
                                $("#isCert").val("Y");
                                $("#seqno").val(response.seqno);
                            }
                            else{
                                $("#smsResult").css("background-color", "#c1d9d8");
                                $("#smsResult").html("Please try again");
                            }
                        }
                    });
                });

                $("[id^=doPayment]").click(function(){
                    var isCertified = $("#isCert").val();
                    var seqno = $("#seqno").val();

                    if(isCertified != "Y"){
                    alert("SMS verification needed");
                    return false;
                    }

                    var price = $("#price").val();

                    $.ajax({
                        url: '/do_payment',
                        type: 'POST',
                        data: JSON.stringify({item_price: price, seqno: seqno}),
                        headers: {'Content-Type': 'application/json'},
                        success: function(response){
                            if(response.payment_result == "Y"){
                                $("#paymentResult").html("Payment successful");
                                $("#paymentResult").css("background-color", "cyan");
                            }
                            else{
                                $("#paymentResult").html("Payment unsuccessful");
                                $("#paymentResult").css("background-color", "cyan");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <fieldset>
            <legend>Secure Design</legend>
            <input type="text" id="SMSNumber">
            <input type="button" id="checkSMS" value="Verification code check">
            <br>
            <span id="smsResult"></span>
            <input type="hidden" id="isCert" value="N">
            <input type="hidden" id="seqno" value=0>
            <br>
            <input type="text" id="Price" value="1000">
            <input type="button" id="doPayment" value="Pay">
            <br>
            <span id="paymentResult"></span>
        </fieldset>
    </body>
</html>